* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --gray-color: #898ca9;
    --p-md: 16px;
    --p-sm: 14px;
    --h-md: 50px;
}

html {
    font-size: 62.5%;
}

button {
    background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
    border-radius: 10px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    color: white;
    border: none;
    padding: 0 20px;
    font-size: var(--p-md);
}

a {
    text-decoration: none;
}
h1 {
    font-size: 20px;
    color: white;
}
h2 {
    font-size: 85px;
    color: white;
}

body {
    font-family: 'Inter';
    background-color: black;
    width: 100%;
}
.button-outline {
    background: none;
    border: 1px solid #fff;
}
p {
    color: white;
}

#hero .nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 80px;
    width: 100%;
}
#hero .nav .nav-links {
    display: flex;
    flex: 0.5 1;
    justify-content: center;
    gap: 32px;
}
#hero .nav .nav-links a {
    color: #fff;
    font-size: 14px;
}
#hero .nav .nav-buttons {
    display: flex;
    flex-grow: 0.03;
    flex-shrink: 1;
    justify-content: space-evenly;
}
#hero .nav .nav-buttons button {
    height: 40px;
}
#hero {
    position: relative;
    width: 100%;
    height: 100vh;
}
#hero .hero-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
#hero .hero-header h3 {
    font-size: 16px;
    color: var(--gray-color);
    text-align: center;
    margin-top: 16px;
}
#hero .hero-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 170px);
}
#hero .hero-header button {
    margin-top: 32px;
}
#block2 {
    position: relative;
    height: 546px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}
#block2 .card p {
    margin-top: 16px;
}
#block2 .button-block2 {
    background: none;
    border: none;
    color: #b982ff;
    margin-top: 32px;
}
#block2 .cards {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
}
#block2 .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 346px;
    background-color: #1a1b23;
    border-radius: 25px;
}
#block2 .card h1 {
    font-size: 32px;
    margin-top: 16px;
    font-weight: 800;
}

#block2 .cards p {
    color: #898ca9;
    line-height: 24px;
    font-weight: 400;
    font-size: var(--p-md);
    margin-top: 16px;
}
#block2 .block2-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
}
#block3 {
    position: relative;
    width: 100%;
    height: 562px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#block3 .block3-img {
    position: absolute;
    z-index: -1;
    right: 0%;
    object-fit: cover;
}
#block3 h1 {
    font-size: 50px;
    margin: 20px;
    text-align: center;
}
#block3 p {
    font-size: 16px;
    color: #898ca9;
    margin-top: 16px;
}
#block3 .star-block3 {
    position: absolute;
    left: 80vw;
}
#block3 button {
    margin-top: 32px;
}
#block4 {
    display: flex;
    position: relative;
    height: 627px;
    width: 100%;
}
#block4 h1 {
    font-size: var(--h-md);
}
#block4 p {
    font-size: var(--p-md);
    margin-top: 16px;
    color: var(--gray-color);
}

#block4 .img-container {
    position: relative;
    display: flex;
    width: 50%;
}
#block4 .img-container img {
    position: absolute;
    /* height: 100vh?; */
    top: -50vh;
    z-index: -1;
    object-fit: cover;
}
#block4 .content-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}
#block4 button {
    margin-top: 32px;
    width: 156px;
    height: 56px;
}
