* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
}

html {
  font-size: 62.5%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1 1 40rem;
  padding: 2rem;
}
.nav .nav-links {
  display: flex;
  flex: 0.5 1;
  justify-content: space-evenly;
}
.nav .nav-buttons {
  display: flex;
  flex-grow: 0.03;
  flex-shrink: 1;
  justify-content: space-evenly;
}

button {
  background: linear-gradient(225deg, #18c8ff 14.89%, #933ffe 85.85%);
  border-radius: 10px;
  width: 100px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
h1 {
  font-size: 20px;
  color: white;
}
h2 {
  font-size: 85px;
  color: white;
}
h3 {
  font-size: 16px;
}
main {
  text-align: center;
}
.hero h3 {
  font-size: 16px;
  padding: 2.5rem;
  color: white;
}
.hero button {
  display: inline-block;
}
body {
  font-family: "Inter";
  background-color: black;
}
.button1 {
  background: none;
}
.hero {
  background-image: url("/assets/images/bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: white;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}
.card h4,
.card p {
  padding: 1rem;
  line-height: 1.8;
}

.block2 {
  background-image: url("/assets/images/info-background.png");
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
